@model IEnumerable<TrustCare.Models.Beneficiary>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";

}

<h1>Beneficiaries</h1>

<link href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet" />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Beneficiaries</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="display expandable-table" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Relationship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProofDocument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscription)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Relationship)
            </td>
            <td>
                    <img src="@Url.Content("~/Images/" + item.ProofDocument )" asp-append-version="true" width="100" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subscription.SubscriptionId)
            </td>
            <td>
                                @if (item.ApprovalStatus != null)
                                {
                                    <div class="d-flex justify-content-center">
                                        <form asp-action="AcceptBeneficiary" asp-route-BeneficiaryId="@item.BeneficiaryId" style="display: inline;">
                                            <button type="submit" class="btn btn-success mr-2">Accept</button>
                                        </form>
                                        <form asp-action="RejectBeneficiary" asp-route-BeneficiaryId="@item.BeneficiaryId" style="display: inline;">
                                            <button type="submit" class="btn btn-danger">Reject</button>
                                        </form>
                                    </div>
                                }
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js" defer></script>

<script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js" defer></script>
<script>
    $(document).ready(function () {
        $('#example1').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'pdfHtml5'
            ]
        });
    });

</script>
